{{>header}}
<form id='registration'>
        <table>
            <tr>
                <td>Name : </td>
                <td><input type='text' name='name' value='{{user.name}}'></td>
            </tr>
            <tr>
                <td>Age : </td>
                <td><input type="number" name='age' value='{{user.age}}'></td>
            </tr>
            <tr>
                <td>Gender : </td>
                <td>
                    <input type="radio" name="gender" value="male" {{{setRadioChecked 'male' user.gender}}}> Male
                    <input type="radio" name="gender" value="female" {{{setRadioChecked 'female' user.gender}}}> female
                </td>
            </tr>
            <tr>
                <td>Country</td>
                <td>
                    <select name="country">
                        <option value="India" {{{setOptionSelected 'India' user.country}}}>India</option>
                        <option value="Pakistan" {{{setOptionSelected 'Pakistan' user.country}}}>Pakistan</option>
                        <option value="Nepal" {{{setOptionSelected 'Nepal' user.country}}}>Nepal</option>
                        <option value="Bangladesh" {{{setOptionSelected 'Bangladesh' user.country}}}>Bangladesh</option>
                        <option value="Srilanka" {{{setOptionSelected 'Srilanka' user.country}}}>Srilanka</option>
                        <option value="Bhutan" {{{setOptionSelected 'Bhutan' user.country}}}>Bhutan</option>
                        <option value="Maldives" {{{setOptionSelected 'Maldives' user.country}}}>Maldives</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Comments : </td>
                <td><textarea name="comment" cols="30" rows="10">{{user.comments}}</textarea></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="hidden" id="hidden" value="{{user._id}}">
                    <button id="updateButton" type="button">update</button>
                </td>
            </tr>
        </table>
    </form>
    <div id="status">Status</div>
{{>footer}}